html,
body {
    background-color: #141414;
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}

*::-webkit-scrollbar {
    display: none;
}

header {
    background-color: transparent;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    transition: background-color ease 800ms;
}

header.black-bg {
    background-color: rgb(20, 20, 20);
}

.header-contain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-nav {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    /* display: none; */
}

.nav-items {
    color: aliceblue;
    margin-right: 20px;
    opacity: .66;
    cursor: pointer;
}

.nav-items.active {
    opacity: 1;
    font-weight: 500;
}

header .brand {
    max-width: 110px;
}

.right-contain {
    color: aliceblue;
    margin-right: 22px;
}

.fa-solid {
    margin-right: 22px;
    cursor: pointer;
}

.left-contain,
.right-contain {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.movie-section {
    margin: 41px auto;
}

.explore {
    color: #54b9c5;
    font-size: 14px;
    display: none;
}

.movie-heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    cursor: pointer;
    color: aliceblue;
    margin-bottom: 10px;
}

.movie-heading:hover .explore {
    display: inline-block;
}

.movie-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.movie-item {
    width: 245px;
    object-fit: contain;
    margin: 6px;
    border-radius: 4px;
}

.movie-item-img {
    width: inherit;

}

.movie-item iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    border: none;
    outline: none;
}

.movie-item-img:hover iframe {
    display: block;
}

.movie-item:hover {
    transform: scale(1.3);
    transition: transform linear 300ms;
}

.banner-section {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 98vh;
    position: relative;
    padding-top: 80px;
}

.banner.fadeBottom {
    height: 120px;
    background: linear-gradient(180deg, transparent, rgba(37, 37, 37, .61), #141414);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.banner-content {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}

.banner-title {
    color: white;
    font-size: 84px;
    line-height: 1.1;
    margin-bottom: 16px;
    opacity: .5;
    max-width: 40%;
}

.banner-descp {
    margin-bottom: 14px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;
}

.banner-overview {
    font-size: 16.4px;
    color: rgb(214, 214, 214);
    line-height: 1.3;
    max-width: 40%;
}

.action-Button-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.action-button {
    border: none;
    background-color: aliceblue;
    padding: 8.2px 23px;
    margin-right: 11px;
    border-radius: 4px;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    align-items: center;
    cursor: pointer;
}

.action-button:last-child {
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
}

@media(max-width:767px) {
    .main-nav {
        display: none;
    }

    .banner-overview .banner-descp {
        max-width: 50%;
    }
}